@model IEnumerable<MyCityPlan_Demo.Models.Benutzer>

@{
    ViewData["Title"] = "Index";
}

<h1>There are @Model.Count().ToString() Events for your City planned</h1>
<form><button class"btn btn-primary"> + Create new Events</button></form>
<p>
    <a asp-action="Create">Event planning</a>
</p>
<table class="table" border="0" width="800" cellspacing="5" cellpadding="5">
    <thead>
        <tr>
            <th>
                <button class"btn btn-primary">@Html.DisplayNameFor(model => model.Name)</button>
            </th>
            <th>
                <button class"btn btn-primary">@Html.DisplayNameFor(model => model.Email)</button>
            </th>
            <th>
                <button class"btn btn-primary">@Html.DisplayNameFor(model => model.Property_1)</button>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property_1)
            </td>
            <td>
                <p><form><button class"btn btn-primary">Edit</button><button class"btn btn-primary">Details</button><button class"btn btn-primary">Delete</button></form></p>
            </td>
        </tr>
}
    </tbody>
</table>
